In [1]:
import pandas as pd
import numpy as np

import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns


sns.set_style("whitegrid")
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [12]:
df = pd.read_csv('apartment_dotcom.csv')
df1=pd.read_csv('apartments_final.csv')

In [8]:
df.columns

Index(['Unnamed: 0', 'url', 'listingid', 'ZIP', 'Monthly Rent', 'Bedrooms',
       'Bathrooms', 'Square Feet', 'walkScore', 'transitScore', 'Deposit',
       'latitude', 'longitude', 'Pet', 'neighborhood'],
      dtype='object')

In [10]:
df.loc[df['listingid']=='kqgrljc']

,Unnamed: 0,url,listingid,ZIP,Monthly Rent,Bedrooms,Bathrooms,Square Feet,walkScore,transitScore,Deposit,latitude,longitude,Pet,neighborhood
82,82,https://www.apartments.com/118-n-state-ave-ind...,kqgrljc,46201.000,"$1,100",2 bd,1 ba,NaN,56,40,"$1,100 deposit",39.769,-86.131,NaN,Holy Cross

In [13]:
df1_null_sqft=df1[df1['square_feet'].isna()]

In [14]:
df1=df1.drop(df1_null_sqft.index).copy()

In [18]:
df1.isnull().values.any()

False

In [19]:
df1.to_csv (r'apartments_final.csv', index = False, header=True)